/* Navbar */
body{
  /* background-color: black; */
}
#navbar{
  display: flex;
  background-color: rgb(251, 249, 249);
  justify-content: space-between;
  padding: 18px;
  padding-bottom: 0px;
  position: sticky;
  top: 0px;
}
*{
  font-family:sans-serif;
  margin: 0px;
  padding: 0px;
}
#navbar>div{
  display: flex;
}
#navbar>div>div>p{
  margin-left: 32px;
  margin-top: 14px;
  font-size: 14.5px;
  cursor: pointer;
  margin-bottom: 20px;
}
#navbar>div>p{
  margin-left: 32px;
  margin-top: 14px;
  font-size: 14.5px;
  cursor: pointer;
  margin-bottom: 20px;
}
#navbar>div>h4{
  margin: 14px 30px 0px 5px;
  background-color: black;
  color: white;
  padding: 2px;
  height: 13px;
  width: 14px;
  text-align: center;
  border-radius: 50%;
  font-size: 11px;
  font-weight: lighter;
}
#navbar>div>h3{
  color: rgb(41, 41, 239);
  margin-left: 25px;
  cursor: pointer;
}
#navbar>div>img{
  left: 40px;
  height: 40px;
  position: fixed;
}
#middle_p>div>p{
  transition-property: border-bottom;
  transition-timing-function: ease-in;
  transition-delay: 0.25s;
  /* transition-duration: 0.5s; */
}
#middle_p>div>p:hover{
  border-bottom: 1px solid gray;
  /* transform: scale(1.5); */
}
.boxNav {
float: left;
overflow: hidden;
}
.downBox {
display: none;
position: absolute;
background-color: #ffffff;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
border: 1px solid rgb(214, 210, 210);
z-index: 1;
}
.downBox>p{
  cursor: pointer;
  margin: 15px 20px;
  color: rgb(104, 98, 98);
}
.downBox>p:hover{
  color: rgb(196, 193, 193);
}
.boxNav:hover .downBox {
display: block;
}

.fulBox {
float: left;
overflow: hidden;
}
.fDownBox {
display: none;
position: absolute;
left: 0px;
background-color: #ffffff;
width: 99.87%;
/* height: 100px; */
/* padding: 50px; */
border: 1px solid rgb(214, 210, 210);
z-index: 1;
/* display: flex; */
}
.fulBox:hover .fDownBox {
display: block;
display: flex;
justify-content: space-evenly;
}
.fDownBox p{
  color: rgb(91, 83, 83);
  font-size: 14px;
  cursor: pointer;
  margin-top: 13px;
}
.fDownBox h5{
  /* margin-top: 15px; */
  color: rgb(98, 93, 93);
  margin-bottom: -5px;
  text-align: center;
}
.fDownBox img{
width: 100%;
height: 200px;
margin-bottom: 20px;
margin-top: 40px;
border-radius: 20px;
}
.fDownBox img+h5+p{
  margin-bottom: 30px;
  text-align: center;
}
/* .fDownBox>div{ */
  /* width: 450px; */
  /* margin-top: 50px; */
  /* margin-left: 90px; */
  /* margin-bottom: 50px; */
/* } */
.fDownBox>div+div~div>h5{
  /* margin-right: 90px; */
  margin-top: 40px;
  /* text-align: center; */
}
/* #dGrid{
  display: grid;
  grid-template-columns: repeat(1,1fr);
} */
#imgNav{
  display: grid;
  grid-template-columns: repeat(8,1fr);
  gap: 10px 25px;
  /* width: 100%; */
}
#imgNav>img{
  width: 110px;
  height: 100px;
  cursor: pointer;
}
#blackHeart{
  color: red;
  font-weight: bold;
}
#blackHeart i{
  color: black;
}
/* page code */
*{
  margin: 0%;
  padding: 0%;

}
.img_1 {
    width: 100%;
    height: 700px;
  }
  .img_1 > img {
    width: 100%;
    height: 100%;
  }
  .img_1_content {
    text-align: left;
    width: 500px;
    position: absolute;
    top: 140px;
    left: 150px;
    color: white;
    font-size: 29px;
  }
  #buyNow {
    color: #444444;
    font-size: 13px;
    font-weight: bold;
    background-color: white;
    border-radius: 25px;
    padding: 15px 30px;
    display: block;
    margin: auto;
    margin-top: 30px;
    margin-left: 0px;
  }
  #buyNow:hover {
    background-color: #e6e6e6;
  }
  .A1 {
    width: 70px;
    font-size: 20px;
  }
  #img_side_bar {
    position: absolute;
    top: 650px;
    left: 32%;
  }
  #img_side_bar button {
    color: grey;
    border: none;
    background-color: transparent;
    margin-left: 20px;
  }
  h1 + h6 {
    margin-top: 40px;
  }
  #Product {
    width: 80%;
    height: 300px;
    display: grid;
    margin: auto;
    grid-template-columns: repeat(8, 130px);
    grid-template-rows: repeat(2, 120px);
    gap: 30px 10px;
    margin-top: 60px;
    justify-content: center;
  }
  
  h2 {
    text-align: center;
    margin-top: 50px;
    color: #444444;
    font: bolder;
  }
  p {
    color: #606060;
  }
  #Product > div > img {
    width: 80%;
    height: 70%;
  }
  #Product > div > img + p {
    text-align: center;
    line-height: 14px;
    font-size: 11px;
    color: #606060;
  }
  #music_text {
    width: 70%;
    height: 200px;
    margin: auto;
    margin-top: 10px;
  }
  #music_text {
    text-align: center;
    line-height: 23px;
  }
  #music_text > h2 {
    margin-bottom: 30px;
    color: #444444;
    font: bolder;
  }
  iframe {
    width: 100%;
    height: 100%;
  }
  #cart {
    width: 60%;
    display: flex;
    justify-content: space-evenly;
    gap: 5px;
    margin: auto;
  }
  #cart button {
    font: bolder;
  }
  #cart > button {
    margin-top: 30px;
    border: 1px solid white;
    color: grey;
    background: white;
    font-size: 13px;
    font: bolder;
    box-shadow: rgba(27, 31, 35, 0.04) 0px 1px 0px,
      rgba(255, 255, 255, 0.25) 0px 1px 0px inset;
  }
  #cart > button:hover {
    color: black;
  }
  hr {
    width: 58%;
    margin: auto;
    margin-top: 20px;
  }
  hr:hover {
    color: black;
  }
  .checked {
    color: orange;
    /* margin-top: 10px; */
  }
  .diff {
    color: #fce3bd;
  }
  
  #dealsofmonth {
    width: 92%;
    height: 410px;
    display: flex;
    margin-top: 20px;
    margin: auto;
    gap: 20px;
  }
  #dealsofmonth > div > img {
    width: 70%;
    height: 200px;
    margin-top: 30px;
  }
  #dealsofmonth > div {
    width: 92%;
    height: 400px;
    text-align: center;
    margin-top: 30px;
  }
  .deal {
    font-size: 20px;
  }
  #view {
    font-weight: bold;
    background-color: blue;
    border-radius: 30px;
    padding: 20px 37px;
    display: block;
    margin: auto;
    margin-top: 40px;
    border: 1px solid white;
  }
  #view + h4 {
    text-align: center;
    margin-top: 80px;
    color: #444444;
    font: bolder;
  }
  #view + h4 + h1 {
    text-align: center;
    margin-top: 20px;
    color: #444444;
    font: bolder;
  }
  #newlaunch {
    width: 90%;
    display: flex;
    gap: 30px;
    margin: auto;
    margin-top: 40px;
    position: relative;
  }
  #newlaunch > div > img {
    width: 390px;
    height: 100%;
    border-radius: 10px;
  }
  #img_lanches_1 {
    width: 250px;
    position: absolute;
    top: 130px;
    left: 70px;
    margin-top: 40px;
  }
  #img_lanches_1 > h4,
  #img_lanches_1 > h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font: bolder;
  }
  #img_lanches_2 {
    width: 250px;
    position: absolute;
    top: 130px;
    left: 500px;
    margin-top: 40px;
  }
  #img_lanches_2 > h4,
  #img_lanches_2 > h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font: bolder;
  }
  #img_lanches_3 {
    width: 250px;
    position: absolute;
    top: 130px;
    right: 70px;
    margin-top: 40px;
  }
  #img_lanches_3 > h4,
  #img_lanches_3 > h1 {
    color: white;
    text-align: center;
    margin-top: 30px;
    font: bolder;
  }
  #confused {
    margin-top: 80px;
  }
  #quiz_main {
  position: relative;
}

#quiz {
  width: 500px;
  height: 350px;
  position: absolute;
  top: 150px;
  left: 480px;
  margin-top: 40px;
  background-color: white;
  padding: 40px;
  border-radius: 20px;
}
#quiz > h1 {
  text-align: center;
  margin-top: 30px;
  font-size: 38px;
  color: #444444;
  font: bolder;
}
#quiz > p {
  text-align: center;
  margin-top: 30px;
  color: #606060;
}
#quiz > button {
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 30px;
  padding: 20px 37px;
  display: block;
  margin: auto;
  margin-top: 30px;
  border: 1px solid white;
}
#brand {
  width: 100%;
  height: 490px;
  display: grid;
  grid-template-columns: repeat(8, 140px);
  grid-template-rows: repeat(4, 100px);
  gap: 20px;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
#brand > div > img {
  width: 100%;
  height: 50%;
}
#brandmain {
  background-color: #e6e6e6;
  margin-top: 0px;
  padding: 0px;
  border: 1px solid white;
}
#brandmain > h4 {
  margin-top: 90px;
  text-align: center;
  font: bolder;
  color: #606060;
}
#brandmain > h4 + h1 {
  text-align: center;
  margin-top: 25px;
  font: bolder;
  color: #444444;
}
#seeall {
  color: gray;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
  border-radius: 25px;
  padding: 17px 30px;
  display: block;
  margin: auto;
  margin-bottom: 60px;
  border: 1px solid transparent;
}
#seeall:hover {
  background-color: #e6e6e6;
}
#offerdiv{
  margin: auto;
  width: 60%;
  display: grid;
  grid-template-columns: repeat(2,400px);
  grid-template-rows: repeat(2,300px);
  gap: 40px;
  margin-top: 40px;
}
#offerdiv > div > h3{
  margin-top: 20px;
  margin-bottom: 20px;
}
#offerdiv > div > p{
  margin-bottom: 10px;
}
#image_4 > img{
  margin-top: 30px;
  position:static;
  width: 100%;height: 100%;
}
#headzone{
  width: 100%;
  position: relative;
  height: 800px;
  margin-top: 70px;
  display: flex;
  justify-content:space-between;
}
#headzone > img{
  position:absolute;
  width: 450px;
  height: 550px;
  border-radius: 10px;
  margin-left: 100px;
  margin-top: 140px;
}
#headzone1{
  width: 60%;
  height: 700px;
  background-color: #e6e6e6d0;
  margin-left: 430px;
  margin-top: 70px;
}
#headzone1 > h5{
  margin-top: 250px;
  font-family: Roboto, sans-serif;
}
#headzone1 > h1 {
  font-family: "Zurich Extended", sans-serif;
  font-weight: bold;
}
#headzone1 > h5, #headzone1 > h1, #headzone1 > p{
  margin-left: 200px;
}
#zonebtn{
  margin-left: 200px;
  text-align: center;
  color: white;
  font-weight: bold;
  background-color: blue;
  border-radius: 30px;
  padding: 20px 37px;
  display: block;
  /* margin: auto; */
  margin-top: 30px;
  border: 1px solid white;
}
#audiophile {
  width: 50%;
  height: 200px;
  text-align: center;
  line-height: 30px;
  margin: auto;
  margin-top: 90px;
}
#audiophile > h1 {
  color: #444444;
  font: bolder;
}
#audiophile > h1 + p {
  line-height: 20px;
  margin: auto;
  color: #606060;
  margin-top: 25px;
}
#event_1 {
  width: 80%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(3, 450px);
  grid-template-rows: repeat(1, 330px);
  gap: 50px;
  justify-content: space-evenly;
  margin: auto;
  margin-top: 40px;
}
#event_1 > div > {
  border: 1px solid red;
}
#event_1 > div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 20px;
}
#event_2 {
  width: 90%;
  height: 400px;
  display: grid;
  grid-template-columns: repeat(2, 702px);
  grid-template-rows: repeat(1, 350px);
  gap: 50px;
  justify-content: space-evenly;
  margin: auto;
}
#event_2 > div > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  margin-top: 10px;
}

#event_2 > div {
  width: 100%;
}

#Timeline {
  width: 100%;
  height: 700px;
  background-color: #e6e6e6;
  margin-top: 60px;
  border: 1px solid white;
}
#Timeline > h5 {
  text-align: center;
  color: #444444;
  margin-top: 70px;
}
#Timeline > h1 {
  text-align: center;
  color: #444444;
  font: bolder;
  margin-top: 20px;
}
#main_img > img {
  width: 100%;
  height: 600px;
  margin-top: 40px;
}

#quotes {
  width: 47%;
  height: 260px;
  background-color: white;
  margin: auto;
  margin-top: 30px;
}
#quotes > h1 {
  margin-top: 40px;
  font: bolder;
}
#quotes > h1 + p {
  color: #444444;
  margin-top: 40px;
}
#quotes_button {
  display: flex;
}
#button_1,
#button_2 {
  padding: 16px;
  margin-top: 40px;
}
#button_1 {
  border-radius: 25px 0px 0px 25px;
  border: 1px solid gray;
  font-size: 20px;
}
#button_2 {
  border-radius: 0px 25px 25px 0px;
  border: 1px solid gray;
  font-size: 20px;
}
#press_main {
  width: 100%;
  height: 370px;
  border: 1px solid #e6e6e6;
  background-color: #e6e6e6;
}
#quotes_2 {
  width: 50%;
  margin: auto;
  margin-top: 70px;
  /* border: 1px solid red; */
}
#quotes_2 > h1 {
  text-align: center;
  /* margin-top: 30px; */
}
#press_logo {
  width: 70%;
  display: grid;
  grid-template-columns: repeat(6, 130px);
  grid-template-rows: 70px;
  gap: 70px;
  justify-content: center;
  margin: auto;
  margin-top: 50px;
}
#press_logo > div > img {
  width: 100%;
  height: 100%;
  /* border: 1px solid red; */
}
#main_our_value {
  width: 100%;
  height: 290px;
  border: 1px solid #d6cff9;
  background-color: #d6cff9;
  /* border: 1px solid red; */
}
#main_our_value > h1 {
  text-align: center;
  margin-top: 20px;
}
#our_value {
  display: grid;
  grid-template-columns: repeat(5, 230px);
  grid-template-rows: 100px;
  justify-content: center;
  gap: 30px;
  margin: auto;
  margin-top: 70px;
}
#our_value > div h1 {
  text-align: center;
}
#our_value > div p {
  text-align: center;
  font-size: 12px;
  color: #444444;
  font: bolder;
  line-height: 20px;
  margin-top: 20px;
}
#audiophile_1 {
  width: 100%;
  height: 400px;
  margin-top: 0px;
}
#audiophile_1 > img {
  width: 100%;
  height: 100%;
}
#headphones_img {
  width: 100%;
  height: 500px;
  margin-top: 0px;
}
#headphones_img > img {
  width: 100%;
  height: 100%;
}
#headphones_img + div > h1 {
  text-align: center;
  margin-top: 120px;
  font: bolder;
  color: #444444;
}
#headphones_img + div > h1 + p {
  text-align: center;
  margin-top: 20px;
  font-size: 16px;
  color: #444444;
}
#audiophile_add {
  width: 100%;
  /* height: 500px; */
  margin-top: 50px;
  
}
#audiophile_add > img {
  margin-left:6%;
  width: 90%;
  height: 80%;
}

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400&display=swap");

#foooter {
  font-family: "Poppins", sans-serif;
  width: 98%;
  margin: auto;
  justify-content: center;
  align-items: center;
  margin-top: -200px;
}
#sub-head1{
  margin-left: 40px;
  margin-top: 10px;
}
#sub-head2{
  margin-left: 35px;
  margin-top: 10px;
}
#sub-head3{
  margin-left: 40px;
  margin-top: 10px;
}
.footer-col ul {
  list-style-type: none;
  margin-left: 15px;
}
.footer-col ul a {
  text-decoration: none;
  color: #66555c;
  line-height: 30px;
  font-size: 13px;
}
.para {
  color: #66555c;
  margin-top: 15px;
}
.footer-col p {
  padding-left: 40px;
  font-size: 14px;
}
.footer-icon {
  display: flex;
  margin-left: 40px;
  margin-top: 20px;
}
.footer-icon a {
  display: flex;
  width: 55px;
  height: 55px;
  justify-content: center;
  align-items: center;
  border: 1px solid #e1e1e1;
  transition: color 0.3s ease;
}
.icons {
  display: flex;
  margin: auto;
  justify-content: space-between;
  width: 50%;
  margin-top: 75px;
}
.icons div {
  display: grid;
  margin: auto;
  padding: 8px;
}
.footer-p {
  font-size: 14px;
  text-align: center;
  line-height: 10px;
  margin-top: 30px;
}
.footer-icon a:hover {
  background-color: #565a5d;
  color: white;
  box-shadow: inset 300px 0 0 0 #565a5d;
}
a{
  color: #66555c;
}
footer {
  margin-top: 300px;
  margin-bottom: 60px;
  background-color: #f9f9f9;
  padding-top: 50px;
}
hr {
  background-color: #a7a7a7;
  height: 0.2px;
}
.row {
  display: flex;
  justify-content: space-between;
}
.row > div:nth-child(5) {
  padding-left: 80px;
  padding-right: 40px;
}
.para {
  width: 300px;
}
img {
  height: 33px;
} 
