
#navbar a{
    text-decoration: none;
}
#loginData>a{
    color: black;
}
#loginData+p>a{
    color: black;
}
#loginData>i{
    color: rgb(4, 80, 103);
    width: 40px;
    height: 15px;
    overflow: hidden;
}
#barnd_header>h3>a{
    color: rgb(36, 36, 219);
}

#navbar{
    display: flex;
    background-color: rgb(251, 249, 249);
    justify-content: space-between;
    padding: 18px;
    padding-bottom: 0px;
    position: sticky;
    top: 0px;
}
*{
    font-family:sans-serif;
    margin: 0px;
    padding: 0px;
}
#navbar>div{
    display: flex;
}
#navbar>div>div>p{
    margin-left: 32px;
    margin-top: 14px;
    font-size: 14.5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#navbar>div>p{
    margin-left: 32px;
    margin-top: 14px;
    font-size: 14.5px;
    cursor: pointer;
    margin-bottom: 20px;
}
#navbar>div>h4{
    margin: 14px 30px 0px 5px;
    background-color: black;
    color: white;
    padding: 2px;
    height: 13px;
    width: 14px;
    text-align: center;
    border-radius: 50%;
    font-size: 11px;
    font-weight: lighter;
}
#navbar>div>h3{
    color: rgb(41, 41, 239);
    margin-left: 25px;
    cursor: pointer;
}
#navbar>div>img{
    left: 40px;
    height: 40px;
    position: fixed;
}
#middle_p>div>p{
    transition-property: border-bottom;
    transition-timing-function: ease-in;
    transition-delay: 0.25s;
    /* transition-duration: 0.5s; */
}
#middle_p>div>p:hover{
    border-bottom: 1px solid gray;
    /* transform: scale(1.5); */
}
.boxNav {
float: left;
overflow: hidden;
}
.downBox {
display: none;
position: absolute;
background-color: #ffffff;
/* box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2); */
border: 1px solid rgb(214, 210, 210);
z-index: 1;
}
.downBox>p{
    cursor: pointer;
    margin: 15px 20px;
    color: rgb(104, 98, 98);
}
.downBox>p:hover{
    color: rgb(196, 193, 193);
}
.boxNav:hover .downBox {
display: block;
}

.fulBox {
float: left;
 overflow: hidden;
}
.fDownBox {
display: none;
position: absolute;
left: 0px;
background-color: #ffffff;
width: 99.87%;
/* height: 100px; */
/* padding: 50px; */
border: 1px solid rgb(214, 210, 210);
z-index: 1;
/* display: flex; */
}
.fulBox:hover .fDownBox {
display: block;
display: flex;
justify-content: space-evenly;
}
.fDownBox p{
    color: rgb(91, 83, 83);
    font-size: 14px;
    cursor: pointer;
    margin-top: 13px;
}
.fDownBox h5{
    /* margin-top: 15px; */
    color: rgb(98, 93, 93);
    margin-bottom: -5px;
    text-align: center;
}
.fDownBox img{
  width: 100%;
  height: 200px;
  margin-bottom: 20px;
  margin-top: 40px;
  border-radius: 20px;
}
.fDownBox img+h5+p{
    margin-bottom: 30px;
    text-align: center;
}
/* .fDownBox>div{ */
    /* width: 450px; */
    /* margin-top: 50px; */
    /* margin-left: 90px; */
    /* margin-bottom: 50px; */
/* } */
.fDownBox>div+div~div>h5{
    /* margin-right: 90px; */
    margin-top: 40px;
    /* text-align: center; */
}
/* #dGrid{
    display: grid;
    grid-template-columns: repeat(1,1fr);
} */
#imgNav{
    display: grid;
    grid-template-columns: repeat(8,1fr);
    gap: 10px 25px;
    /* width: 100%; */
}
#imgNav>img{
    width: 110px;
    height: 100px;
    cursor: pointer;
}
#blackHeart{
    color: red;
    font-weight: bold;
}
#blackHeart i{
    color: black;
}
