.one{
   margin: auto;
}
.two{
    display: flex;
    width: 80%;
    margin: auto;
    font-size: 26px;
    font-weight: bold;
    margin-top: 20px;

}
#RAGHAV{
    margin-left: 140px;
    margin-top: -80px;
    font-weight: bold;
}
#RAGHAV+p{
    margin-left: 140px;
    margin-top: -20px;
    font-weight: lighter;
}
#PAIRS{
    margin-left: 140px;
    
    font-weight: lighter; 
    margin-top: 100px;
}
.three{
    display: flex;
    padding: 0%;
    column-gap: 100px;
    align-items: center;
    margin-left: 70px;
    width: 100%;
    height:auto;
    background-color: RGB(247, 247, 247);
}
.four{
    display: grid;
    margin-left: 50px;
    column-gap: 35px;
    grid-template-columns: repeat(100,5fr);
    text-align: center;
}
.dscf{
    background-color: blue;
    color: white;
  border-radius: 30px;
  border: solid 1px black;
  width: 200px;
  /* height: 40px; */
  text-align: center;
  padding: 0%;
line-height: 200%;
  /* margin-top: 25px; */
}
